@import url('https://fonts.googleapis.com/css2?family=Alkatra&display=swap');

body {
  margin: 0;
  font-family: 'Alkatra', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Header {
  width: 100vw;
  padding: 3vh;
  height: max-content;
  justify-content: space-between;
  border-bottom: #009999 2px solid;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

@media screen and (max-width: 600px) {
  .text {
    display: none;
  }
  .RS svg {
    width: 25px;
    height: 25px;
  }
}

.loupe {
  border: #009999 2px solid;
  background-color: #009999;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.inputBar {
  border: 2px solid #009999;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  outline: none;
}

.footer {
  position: absolute;
  width: 100vw;
  bottom: 0;
  height: max-content;
}


.RS {
  max-width:33%;
}